*.ts
!*.d.ts
tsconfig.json
.eslintrc.js
.eslintrc.prepublish.js
.prettierrc.js
gulpfile.js
nodes/**/*.ts
credentials/**/*.ts
examples/
docs/
*.tsbuildinfo
.github/
*.log
.DS_Store
node_modules/
.git/
.vscode/
